MONGOLOQUENT_DATABASE_URI=
MONGOLOQUENT_DATABASE_
MONGOLOQUENT_TIMEZONE=

JWT_SECRET=

EMAIL_USER=
EMAIL_PASSWORD=

SOCKET_SERVER_URL=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=

MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=